@font-face {
  font-family: "Avegas Royale";
  src: url("../../../public/avegasFont/AvegasRoyale\ Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.home-page {
  position: relative;
}
.banner-one-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner-one-home-page {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 600px;
}
.banner-heading {
  font-family: Avegas Royale;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
}
.banner-paragraph {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
}
.banner-button {
  font-family: Poppins;
  text-decoration: none;
  font-size: 14px;
  padding: 15px 50px;
  line-height: 21px;
  border-radius: 28px 28px 28px 0px;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.image-slider {
  width: 100%;
  display: flex;
}
.carousel-image {
  width: 100%;
}
.carousel-button {
  position: absolute;
  top: 50%;
  z-index: 1;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel-right-btn {
  right: 0;
}

.banner-two-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.carousel-pos-indicators {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  z-index: 4;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.indicators {
  background-color: rgba(222, 184, 135, 0.25);
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.banner-two-home-page {
  display: flex;
  gap: 50px;
  padding-block: 178px;
  align-items: center;
  justify-content: center;
}

.poster-big {
  flex-basis: 424px;
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
  position: relative;
}
.poster-small-one {
  position: relative;
  flex-basis: 268px;
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: flex-end;
}
.poster-small-two {
  flex-basis: 244px;
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-self: flex-end;
  /* flex-grow: 0; */
}

.image-poster-home {
  width: 100%;
}

.poster-small-para {
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
  font-weight: 275;
  line-height: 30px;
  text-align: left;
  color: white;
  margin: 0;
}

.poster-title {
  font-family: Avegas Royale;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  position: absolute;
  white-space: nowrap;
  top: -75px;
  left: 0px;
  margin: 0;
  z-index: 1;
}
.poster-title-2 {
  display: none;
}
.aboutUs-button-home {
  /* height: 62px; */
  /* width: 249px; */
  padding-inline: 50px;
  padding-block: 15px;
  white-space: nowrap;
  background-color: #ccbb8e;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  border: none;
  position: absolute;
  bottom: -134px;
  left: 50%;
  transform: translate(-50%);
}

.banner-three-home-page {
  padding-top: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.banner-three-heading {
  font-family: Avegas Royale;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
  letter-spacing: -0.04em;
  text-align: center;
  color: white;
  border: 1.5px solid burlywood;
  border-radius: 150px 150px 0 0;
  border-bottom: 0;
  padding-block: 76px;
  padding-inline: 150px;
}

.salon-list-container {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
  gap: 16px;
  position: relative;
}

.salon-card-image {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.salon-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  gap: 12px;
  position: relative;
}

.salon-card:hover {
  background-color: rgba(222, 184, 135, 0.5);
}
.salon-card-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}
.salon-card-title {
  font-family: Poppins;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
  margin: 0;
}
.salon-card-services-list {
  display: flex;
  gap: 5px;
  color: white;
  padding: 0;
}

.wishlist-button-salon-card {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1.5px solid white;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.salon-card-select-button {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1.5px solid white;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}

.salon-card-location {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1.5px solid white;
  border-radius: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  left: 24px;
  top: 24px;
  cursor: pointer;
  color: white;
  width: fit-content;
  margin: 0;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  display: flex;
  gap: 5px;
}

.more-groomers-button {
  position: absolute;
  bottom: 10px;
}

.reasonsToUseGroomer {
  display: flex;
}

.groomer-features {
  width: 50%;
}
.reasons-to-use-img {
  width: 50%;
}
.poster-small-para-2 {
  display: none;
}
/* @media screen and (max-width: 1200px) {
  .banner-two-container {
    width: 1000px;
  }
} */

@media screen and (max-width: 850px) {
  .carousel-button {
    width: 50px;
  }
  .banner-heading {
    font-family: Avegas Royale;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: center;
  }
  .banner-paragraph {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.6px;
    letter-spacing: -0.04em;
    text-align: center;
  }
  .banner-button {
    padding-inline: 50px;
    padding-block: 12px;
    font-size: 14px;
    border-radius: 28px 28px 28px 0px;
    border: 1px solid white;
  }
  .banner-one-home-page {
    width: 300px;
  }
  .banner-two-home-page {
    padding-inline: 20px;
    padding-block: 150px;
    gap: 0px;
    /* align-items: stretch; */
  }
  .poster-small-one {
    align-self: center;
  }
  /* .poster-big {
    width: 189px;
    hei
    ght: 273px;
  } */
  .poster-small-two {
    align-self: center;
  }
  .poster-title {
    display: none;
  }
  .poster-title-2 {
    position: absolute;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: Avegas Royale;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .poster-small-para {
    display: none;
  }
  .aboutUs-button-home {
    padding-inline: 50px;
    padding-block: 12px;
    font-size: 14px;
    bottom: -175px;
  }
  .poster-small-para-2 {
    display: block;
    position: absolute;
    bottom: 50px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 275;
    line-height: 21px;
    text-align: center;
  }
  .banner-three-heading {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.02em;
    border-radius: 80px 80px 0 0;
    padding-block: 50px;
    padding-inline: 30px;
  }
  .banner-three-home-page {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
