.outer-container {
  position: relative;
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: black;
  position: relative;
  /* height: 100vh; */
  /* overflow-y: scroll; */
}

.main-container::-webkit-scrollbar {
  /* width: 8px;
  background-color: #5b5441; */
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ccbb8e;
}

@media (max-width: 800px) {
  .main-container {
    padding-bottom: 100px;
  }
  .outer-container {
    padding-bottom: 120px;
  }
}
