.register-page {
  display: flex;
}

.register-page-img-container {
  width: 40%;
  height: 100vh;
  overflow: hidden;
}
.register-page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.register-page-form-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page-form {
  color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-form-title {
  font-family: Avegas Royale;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.register-form-para {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin: 0;
}

.register-form-field {
  border-bottom: 1px solid #ccbb8e;
  display: flex;
  padding-block: 0.7em;
  gap: 10px;
  color: white;
}
.register-form-input-label {
  color: white;
  letter-spacing: -0.04em;
}
.register-form-input {
  border: none;
  outline: none;
  background-color: black;
  color: #ccbb8e;
  flex-grow: 1;
}

.register-form-submit-btn {
  align-self: flex-start;
}
.button-one {
  background-color: #ccbb8e;
  font-size: 1.15rem;
  font-weight: 500;
  border: none;
  padding: 0.75em 2.5em;
  color: black;
}

@media (max-width: 1024px) {
  .register-form-title {
    font-size: 3.5rem;
  }
  .register-form-para {
    font-size: 0.8rem;
  }
  .register-form-field {
    font-size: 0.8rem;
  }
  .button-one {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .register-page {
    flex-direction: column;
    align-items: center;
  }
  .register-page-form {
    gap: 1rem;
  }
  .register-form-title {
    font-size: 2.5rem;
  }
  .register-form-para {
    font-size: 0.7rem;
  }
  .register-form-field {
    font-size: 0.7rem;
  }
  .button-one {
    font-size: 0.8rem;
  }
  .register-page-img-container {
    /* display: none; */
    height: 200px;
    width: 100%;
  }
  .register-page-form-container {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .register-page-form {
    width: 90%;
  }
  .register-form-field {
    flex-direction: column;
    gap: 0.5rem;
  }
}
