.Register-image {
  width: 650px;
  height: 1050px;
}

.register-Form-Container {
  display: flex;
  gap: 114px;
}

.Register-data-container {
  color: white;
  width: 1007px;
  height: 400px;
  margin-top: 250px;
}

.input-register-form {
  color: #fff;
  background-color: #000;
  font-size: 15px;
  padding-top: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 550px;
}

.checkbox-container {
  padding-top: 25px;
  padding-bottom: 30px;
}

.btn-register {
  width: 200px;
  text-align: center;
  padding: 12px;
  background-color: #ccbb8e;
}

@media (max-width: 450px) {
  .register-Form-Container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .Register-image {
    width: 300px;
    height: 200px;
    margin-top: 100px;
    margin-left: 40px;
  }
  .Register-data-container {
    margin-top: -100px;
    margin-left: 50px;
    width: 300px !important;
  }
  .header-registername {
    font-size: 34px !important;
  }
  .input-register-form {
    width: 300px !important;
  }
  .registerpage-maincontainer {
    width: 330px !important;
  }
  .registerpage-formtag {
    width: 300px !important;
  }
}
